doctype html
html
  head
    title= `${title}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Events
    a(href="update-cobj") Add to this table
    table
      thead
        tr
          th.name Event Name
          th.date Event Date
          th.description Description
      tbody
        each event in data
          tr
            td= event.properties.name
            td= event.properties.event_date
            td= event.properties.short_description